name: GitHub Actions Test

on:
  schedule:
    - cron: "17 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Commit
        run: |
          git config --global user.email "${{ secrets.USER_EMAIL }}"
          git config --global user.name "${{ secrets.USER_NAME }}"
          date >> README.md
          git add README.md
          git commit -m 'add time'
          git push origin main
